nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 5rem;
}

.logo img {
  max-height: 3rem;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-avatar {
  width: 50px;
}

.nav-avatar > div {
  width: 100%;
  padding-top: 100%;
  background-color: black;
  position: relative;
  border-radius: 20%;
  overflow: hidden;
}

.nav-avatar > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.settings a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.active-section {
  margin-bottom: 20px;
  margin-top: 15px;
}

.container {
  padding: 20px 15px 0;
}

.question-avatar {
  width: auto;
  height: auto;
  border-radius: 20%;
  overflow: hidden;
}

.question-avatar img {
  max-width: auto;
  max-height: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.question {
  margin-bottom: 20px;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 5px;
}

.question-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-title a {
  color: #333;
  text-decoration: none;
}

.question-title a:hover {
  text-decoration: underline;
}

.question-text {
  padding-bottom: 10px;
}

.icon {
  width: auto;
  text-align: center;
  align-content: center;
}

.img-icon {
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.3s ease;
}

.img-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.username {
  text-align: left;
  margin-top: 8px;
  margin-bottom: 10px;
}

.username a {
  font-weight: bold;
  text-decoration: none;
}

.tags {
  margin-top: 10px;
  font-size: small;
}

tag {
  display: inline;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(13, 110, 253, 1);
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  margin-right: 0.2rem;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

tag:hover {
  background-color: rgba(13, 109, 253, 0.75);
}

.no-underline {
  text-decoration: none;
}

.vote-count {
  margin-left: 5px;
  margin-right: 5px;
}

.vote-count-positive {
  color: green !important;
}

.vote-count-negative {
  color: red !important;
}

.answers-count {
  margin-left: 5px;
}

.popular-tags {
  margin-bottom: 25px;
}

.best-members a {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}
