nav .container {
  padding-top: 0px;
}

.navbar-nav li {
  margin-right: 10px;
  margin-left: 10px;
}

.logo img {
  max-height: 3rem;
}

.custom-search {
  width: 400px;
}

.account {
  height: auto;
  display: flex;
  align-items: center;
}

.account > div {
  display: inline-block;
  width: auto;
}

.account > .container {
  padding-left: 10px;
  padding-right: 10px;
}

.ask-btn {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
  border-width: 1px;
  border-color: #fff;
}

.nav-username {
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  color: #fff;
}

.nav-options {
  display: inline
}

.nav-options a {
  font-size: small;
  color: rgba(255, 255, 255, 0.75);
}

.nav-avatar {
  width: 40px !important;
}

.nav-avatar > div {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 20%;
  overflow: hidden;
}

.nav-avatar > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.settings a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.container {
  padding: 20px 15px 0;
}

.section-title {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}


.question-avatar {
  width: auto !important;
}

.question-avatar > div {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 20%;
  overflow: hidden;
}

.question-avatar > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.question {
  margin-bottom: 20px;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 5px;
}

.question-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.question-title a {
  color: #333;
  text-decoration: none;
}

.question-title a:hover {
  text-decoration: underline;
}

.question-text {
  padding-bottom: 10px;
}

.icon {
  width: auto;
  text-align: center;
  align-content: center;
}

.img-icon {
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.3s ease;
}

.img-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.username {
  text-align: left;
  margin-top: 8px;
  margin-bottom: 10px;
}

.username a {
  font-weight: bold;
  text-decoration: none;
  transition: all 0.1s ease;
}

.side-bar {
  padding-top: 0px !important;
}

.tags {
  margin-top: 10px;
  font-size: small;
}

tag {
  display: inline;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(13, 110, 253, 1);
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  margin-right: 0.2rem;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

tag:hover {
  background-color: rgba(13, 109, 253, 0.75);
}

.no-underline {
  text-decoration: none;
}

.vote-count {
  margin-left: 5px;
  margin-right: 5px;
}

.vote-count-positive {
  color: green !important;
}

.vote-count-negative {
  color: red !important;
}

.answers-count {
  margin-left: 5px;
}

.popular-tags tag {
  margin-bottom: 40px;
}

.best-members a {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.one-question {
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  padding: 20px;
}

.answer {
  margin-bottom: 20px;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 5px;
}

.answer-accept {
  border-color: #333;
}

.accept-answer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accept-answer-btn label {
  border-width: 1px !important;
}

.answer-form {
  margin-top: 30px;
  border-top: 1px solid grey;
}

.answer-form div {
  margin-top: 20px;
}

.form {
  border: 2px solid grey;
  border-radius: 5px;
}

.form-login {
  width: 400px;
}

.answer-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-link-border {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.page-link-border-previous {
  border-left: 2px solid grey;
}

.page-link-border-next {
  border-right: 2px solid grey;
}

.log-in-btn {
  margin-right: 10px;
}