{% extends "inc/base.html" %} {% block content %}

<h2 class="section-title">New Question</h2>

<!-- Alert -->
<div class="alert alert-danger" role="alert">
  Please, enter title of the question
</div>

<!-- Question Title -->
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input
    type="text"
    class="form-control form"
    id="exampleFormControlInput1"
    placeholder="Title"
  />
</div>

<!-- Alert -->
<div class="alert alert-danger" role="alert">
  Please, enter text of the question
</div>

<!-- Question text -->
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Text</label>
  <textarea
    class="form-control form"
    id="exampleFormControlTextarea1"
    rows="3"
    placeholder="Text"
    style="height: 300px"
  ></textarea>
</div>

<!-- Alert -->
<div class="alert alert-danger" role="alert">
  Please, select at least one tag
</div>

<!-- Tags -->
<label for="exampleDataList" class="form-label">Tags</label>
<input
  class="form-control form"
  list="datalistOptions"
  id="exampleDataList"
  placeholder="Type to search..."
  style="margin-bottom: 16px"
/>
<datalist id="datalistOptions">
  <option value="python"></option>
  <option value="perl"></option>
  <option value="Technopark"></option>
  <option value="MySQL"></option>
  <option value="django"></option>
  <option value="VK"></option>
  <option value="C++"></option>
</datalist>

<div class="tags">
  <p class="lh-lg">
    <a href="#" class="no-underline"><tag>python</tag></a>
    <a href="#" class="no-underline"><tag>dajango</tag></a>
  </p>
</div>

<button type="button" class="btn btn-success btn-lg ask-btn">Ask!</button>
{% endblock content %}
