{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<h2 class="section-title">Log In</h2>
<form>
  <!-- Alert -->
  <div class="alert alert-danger" role="alert">
    Sorry, wrong email or password
  </div>

  <!-- E-mail -->
  <div class="mb-3">
    <label for="InputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control form form-login" id="InputEmail" aria-describedby="emailHelp" />
  </div>

  <!-- Password -->
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input type="password" class="form-control form form-login" id="InputPassword" />
  </div>

  <!-- Log in button -->
  <a href="{% url 'index' %}?action=log_in" class="btn btn-primary log-in-btn">Log In</a><a href="{% url 'signin' %}"
    class="btn btn-outline-primary log-in-btn">Sign In</a>
</form>

{% endblock content %}
