{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<!-- Quextion body -->
<div class="one-question">
  <div class="row">
    <div class="col-2 border-end border-4">
      <!-- Avatar -->
      <a href="#">
        <div class="question-avatar">
          <div>
            <img src="{{ question.author.avatar.url }}" alt="Avatar" />
          </div>
        </div>
      </a>
      <!-- Username -->
      <div class="username">
        <a href="#">{{ question.author }}</a>
      </div>
    </div>
    <div class="col-10">
      <!-- Title -->
      <h2 class="question-title"> {{question.title}} </h2>
      <!-- Question text -->
      <div class="question-text">
        {{ question.content }}
      </div>
      <div class="row">
        <!-- Tags -->
        <div class="col-9 tags">
          {% for tag in question.tag.all %}
          {% include "inc/tag-item.html" %}
          {% endfor %}
        </div>

        <!-- Votes -->
        <div class="col-3">
          {% with vote_obj=question icon_type="question" %}
          {% include "inc/votes-item.html" %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>

{% for answer in answers.object_list %}
{% include "inc/answer-item.html" %}
{% endfor %}

{% with answers as page_obj %}
{% include "inc/pagination-item.html" %}
{% endwith %}

<!-- Answer form -->
<div class="answer-form">
  <div class="form-floating">
    <textarea class="form-control form" placeholder="Enter your answer here" id="your-answer"
      style="height: 100px"></textarea>
    <label for="your-answer">Enter your answer here</label>
    <button type="button" class="btn btn-outline-primary answer-btn">
      Answer
    </button>
  </div>
</div>

{% endblock content %}