{% extends "inc/base.html" %}

{% load bootstrap5 %}
{% load static %}

{% block content %}

<!-- Quextion body -->
<div class="one-question">
  <div class="row">
    <div class="col-2 border-end border-4">
      <!-- Avatar -->
      <a href="#">

        {% with avatar_url=question.author.avatar.url avatar_type="question-avatar" %}
        {% include "inc/avatar-item.html" %}
        {% endwith %}

        {% comment %} <div class="question-avatar">
          <div>
            <img src="{{ question.author.avatar.url }}" alt="Avatar" />
          </div>
        </div> {% endcomment %}
      </a>
      <!-- Username -->
      <div class="username">
        <a href="#">{{ question.author }}</a>
      </div>
    </div>
    <div class="col-10">
      <!-- Title -->
      <h2 class="question-title"> {{question.title}} </h2>
      <!-- Question text -->
      <div class="question-text">
        {{ question.content|linebreaksbr }}
      </div>
      <div class="row">
        <!-- Tags -->
        <div class="col-9 tags">
          {% for tag in question.tag.all %}
          {% include "inc/tag-item.html" %}
          {% endfor %}
        </div>

        <!-- Votes -->
        <div class="col-3">
          {% with vote_obj=question icon_type="question" %}
          {% include "inc/votes-item.html" %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>

{% for answer in answers.object_list %}
{% include "inc/answer-item.html" %}
{% endfor %}

{% with answers as page_obj %}
{% include "inc/pagination-item.html" %}
{% endwith %}


<!-- Answer form -->
<div class="answer-form">
  <form novalidate method="post" action="{% url 'question' question.id %}">
    {% csrf_token %}

    {% bootstrap_form form %}

    <button type="submit" class="btn btn-outline-primary answer-btn" style="margin-bottom: 5px">Answer!</button>

  </form>

  {% comment %} <div class="form-floating">
    <textarea class="form-control form" placeholder="Enter your answer here" id="your-answer"
      style="height: 100px"></textarea>
    <label for="your-answer">Enter your answer here</label>
    <button type="button" class="btn btn-outline-primary answer-btn">
      Answer
    </button>
  </div> {% endcomment %}
</div>

<script src="{% static "js/jquery-3.7.0.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

{% endblock content %}