{% load static %}

<!-- Account -->
<div class="account">
  <!-- ASK butn -->
  <div class="container">
    <a class="btn btn-success ask-btn" href="{% url 'ask' %}">Ask!</a>
  </div>

  <!-- Avatar -->
  <div class="container">
    <a href="#"
      ><div class="nav-avatar">
        <div>
          <img src="{% static "img/avatars/my-avatar.jpg" %}" alt="Avatar" />
        </div>
      </div></a
    >
  </div>

  <!-- Settings -->
  <div class="container">
    <div class="row">
      <a href="#" class="nav-username">MyUsername</a>
    </div>
    <div class="row nav-options">
      <a href="{% url 'settings' %}">settings</a>
      <a href="{% url 'index' %}?action=log_out">log out</a>
    </div>
  </div>
</div>
