{% load static %}

<!-- Quextion -->
<div class="question">
  <div class="row">
    <div class="col-2 border-end border-4">
      <!-- Avatar -->
      <a href="#"
        ><div class="question-avatar">
          <div>
            <img src="{% static "img/avatars/avatar-1.jpg" %}" alt="Avatar" />
          </div></div
      ></a>
      <!-- Username -->
      <div class="username">
        <a href="#">User_1</a>
      </div>
    </div>
    <div class="col-10">
      <!-- Title -->
      <h2 class="question-title">
        <a href="{% url "question" question.id %}"> {{ question.title }} </a>
      </h2>
      <!-- Question text -->
      <div class="question-text">
        {{ question.text }}
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Tags -->
    <div class="col-9 tags">
      <a href="#" class="no-underline"><tag>python</tag></a>
      <a href="#" class="no-underline"><tag>django</tag></a>
      <a href="#" class="no-underline"><tag>some</tag></a>
      <a href="#" class="no-underline"><tag>other</tag></a>
      <a href="#" class="no-underline"><tag>tags</tag></a>
    </div>
    <!-- Answers -->
    <div class="col-1">
      <div class="icon">
        <span
          ><a href="#"
            ><img
              src="static/img/svg/answer-icon.svg"
              alt="answers"
              class="img-icon" /></a
          ><span
            class="answers-count fw-bold text-dark font-monospace fs-5 align-middle"
            >0</span
          ></span
        >
      </div>
    </div>
    <!-- Votes -->
    <div class="col-2">
      <div class="icon">
        <span class="align-middle text-middle"
          ><a href="#"
            ><img
              src="static/img/svg/vote-down-icon.svg"
              alt="down"
              class="img-icon" /></a
          ><span
            class="vote-count fw-bold text-dark font-monospace fs-5 align-middle"
            >0</span
          ><a href="#"
            ><img
              src="static/img/svg/vote-up-icon.svg"
              alt="up"
              class="img-icon" /></a
        ></span>
      </div>
    </div>
  </div>
</div>
